*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-primaria: red;
    --cor-primaria-escura: #900;
    --cor-01: #f7f7f7;
    --cor-02: white;
    --cor-texto: black;
    --cor-titg: rgba(0, 0, 0, 0.2);
    --onda: url("img/onda-clara.svg");
}


@media (prefers-color-scheme: dark){
    :root{
        --cor-01: #111;
        --cor-02: black;
        --cor-texto: white;
        --cor-titg: rgba(245, 245, 245, 0.2);
        --onda: url("img/onda-escura.svg");
    }    
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-01);
    color: var(--cor-texto);
}

body p {
    font-size: 1.25rem;
}

header {
    text-align: center;
}

.marca {
    margin: 50px;
}

ul{
    list-style: none;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

nav a{
    color: var(--cor-texto);
    text-decoration: none;
    background-color: var(--cor-02);
    padding: 10px 15px;
    border: 2px solid var(--cor-02);
    border-radius: 4px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.171);
}

nav a:hover{
    border-color: var(--cor-primaria);
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2px;
    max-width: 1000px;
    margin: auto;
    border-radius: 4px;
}

.intro{
    position: relative;
    background-color: var(--cor-02);
    padding: 40px;
    display: grid;
    gap: 20px;
    text-align: right;
    align-content: center;
}

.intro h2{
    font-size: 2rem;
}

.intro h2:after{
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    top: 30px;
    right: -30px;
    background-color: var(--cor-primaria);
}

.vermais{
    justify-self: end;
    background-color: var(--cor-primaria);
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.356);
}

.vermais:hover{
    background-color: var(--cor-primaria-escura);
}

img.bike{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.titg{
    font-size: 4rem;
    color: var(--cor-titg);
    background-color: var(--cor-01);
    background-image: var(--onda);
    text-align: right;
    align-self: center;
    padding: 40px;
}

.conteiner-info{
    padding: 40px;
    background-color: var(--cor-02);
}

.info{
    padding: 20px;
    display: grid;
    gap: 10px;
    text-align: left;
    grid-template-columns: auto 1fr;
    border-left: 4px solid var(--cor-02);
}

.info p, h3{
    font-size: 1.15rem;
}

.info:nth-child(odd){
    background-color: var(--cor-01);
}

.info:hover{
    border-left: 4px solid var(--cor-primaria);
}

.eletrica{
    justify-self: end;
    align-self: center;
}

.velocidade {
    grid-column: 1;
    justify-self: end;
    align-self: center;
}

.rastreador {
    grid-column: 1;
    justify-self: end;
    align-self: center;
}

.descricao{
    grid-column: 2;
}

footer p{
    font-size: 1rem;
    text-align: center;
    padding: 10px;
    background-color: var(--cor-02);
    margin-top: 50px;
}

@media (max-width: 800px) {
    
    .intro{
        padding: 20px;
    }

    .titg{
       grid-column: 1 / -1;
       text-align: center;
       padding: 20px;
       font-size: 3rem;
    }

    .conteiner-info{
        grid-column: 1 / -1;
        padding: 20px;
    }

    .intro h2:after{
        top: 15px;
    }
}

@media (max-width: 600px) {
    .grid{
        grid-template-columns: 1fr;
    }

    header ul{
        margin-bottom: 30px;
    }

    .intro h2:after{
        display: none;
    }

    .intro{
        text-align: left;
    }

    .vermais{
        justify-self: start;
    }
}

@media (max-width: 400px) {
    .titg{
        font-size: 2.5rem;
    }
}
