*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
}

body p {
    font-size: 1.25rem;
}

header {
    text-align: center;
}

header img {
    margin: 30px;
}

ul{
    list-style: none;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

nav a{
    /*display: inline-block;*/
    /*text-align: center;*/
    /*margin-right: 30px;*/
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 10px 15px;
    border: 2px solid #f7f7f7;
    border-radius: 4px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.356);
}

nav a:hover{
    border: 2px solid red;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2px;
    max-width: 1000px;
    margin: auto;
    border-radius: 4px;
}


.intro{
    position: relative;
    background-color: white;
    padding: 40px;
    display: grid;
    gap: 20px;
    text-align: right;
    align-content: center;
}

.intro h2{
    font-size: 2rem;
}

.intro h2:after{
    content: "";
    position: absolute;
    top: 30px;
    right: -30px;
    width: 60px;
    height: 4px;
    background-color: red;
}

.vermais{
    align-self: center;
    justify-self: end;
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.356);
}

.vermais:hover{
    background-color: #900;
}

img.bike{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.titg{
    font-size: 4rem;
    color: #c6c6c6;
    background-color: #f7f7f7;
    background-image: url('img/onda.svg');
    text-align: right;
    align-self: center;
    padding: 40px;
}

.conteiner-info{
    padding: 40px;
    background-color: white;
}

.info{
    background-color: white;
    padding: 20px;
    display: grid;
    gap: 10px;
    text-align: left;
    grid-template-columns: auto 1fr;
    border: blue;
}

.info:nth-child(odd){
    background-color: #f7f7f7;
}

.info:hover{
    border-left: 4px solid red;
}

.eletrica{
    justify-self: end;
    align-self: center;
}

.velocidade {
    grid-column: 1;
    justify-self: end;
    align-self: center;
}

.rastreador {
    grid-column: 1;
    justify-self: end;
    align-self: center;
}

.descricao{
    grid-column: 2;
}

footer p{
    font-size: 1em;
    text-align: center;
    padding: 10px;
    background-color: white;
    margin-top: 30px;
}

@media (max-width: 800px) {
    
    .intro{
        padding: 20px;
    }

    .titg{
       grid-column: 1 / -1;
       text-align: center;
       padding: 20px;
       font-size: 3rem;
    }

    .conteiner-info{
        grid-column: 1 / -1;
        padding: 20px;
    }

    .intro h2:after{
        top: 15px;
    }
}

@media (max-width: 600px) {
    .grid{
        grid-template-columns: 1fr;
    }

    .intro h2:after{
        display: none;
    }

    .intro{
        text-align: left;
    }

    .vermais{
        justify-self: start;
    }
}

@media (max-width: 400px) {
    .titg{
        font-size: 2.5rem;
    }
}
